<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="main-wrapper">
    <p th:text="${login.textString}"></p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi explicabo pariatur voluptate qui corrupti totam corporis molestias earum officiis maxime nesciunt aliquid dolore odio, aut voluptatum. Fuga ullam excepturi tempora!
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>